div.container {
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p, div.ad-title h5 {
    color: white !important;
    text-shadow: 3px 3px 3px rgba(0,0,0,0,5);
}

div.carousel-caption, div.carousel-caption h5 {
   text-shadow: 3px 3px 3px rgba(0,0,0,0,5); 
   color: white !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

div.form-group {
    padding-bottom: 1% !important;
}

h1.title-newAd {
    padding-bottom: 1% !important;
}

.NumberAnnonce {
    font-weight: normal !important;
    font-size: 1rem !important;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 35px;
    max-height: 35px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #BD1111 !important;
}